aiohttp
async-timeout
asyncio
black
gradio
nltk==3.9.1
sentence-transformers
tf-keras
torch
accelerate
flax
numpy
langchain
GitPython
plotly
PyYAML
flask
python-dotenv
pandas
bs4
hdbscan
python-editor
requests
lxml
transformers
tqdm
simple-webbrowser
pypdf
hdbscan 
websockets
python-socketio
speechrecognition 
markdown2